@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html.has-scroll-smooth {
    overflow: hidden;
  }
  .has-scroll-smooth body {
    overflow: hidden;
  }
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }
  